W09/19127368.json
[{"id":"192415f9.d12872","type":"tab","label":"BTCN09 - 19127368 - Hồ Ngọc Minh Đức","disabled":false,"info":""},{"id":"a728554f.beb888","type":"ui_gauge","z":"192415f9.d12872","name":"","group":"203cf2bf.03fc1e","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":380,"wires":[]},{"id":"5cc4e25d.01f89c","type":"mqtt in","z":"192415f9.d12872","name":"","topic":"19127368/btcn09","qos":"2","datatype":"auto","broker":"b60f8c46.e7aa48","nl":false,"rap":true,"rh":0,"x":160,"y":380,"wires":[["a728554f.beb888","dc0beb10.2bcff","fa2f28ce.319ce8"]]},{"id":"dc0beb10.2bcff","type":"debug","z":"192415f9.d12872","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":320,"wires":[]},{"id":"fef058a4.314bd8","type":"http request","z":"192415f9.d12872","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/{{{event}}}/with/key/{{{key}}}?&value1={{{value}}}","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":500,"wires":[["eb1f9669.873208"]]},{"id":"bc48437c.0619e","type":"change","z":"192415f9.d12872","name":"Set Event, Key, Value","rules":[{"t":"set","p":"event","pt":"msg","to":"BTCN09","tot":"str"},{"t":"set","p":"key","pt":"msg","to":"e0Vu5DtFN88O1DKlo4qVAJr5HeacjTBDD4GYRQ7Cpla","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["fef058a4.314bd8"]]},{"id":"eb1f9669.873208","type":"debug","z":"192415f9.d12872","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"fa2f28ce.319ce8","type":"function","z":"192415f9.d12872","name":"parseInt","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":500,"wires":[["e0eada75.370d48"]]},{"id":"e0eada75.370d48","type":"switch","z":"192415f9.d12872","name":"> 80","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":500,"wires":[["bc48437c.0619e"]]},{"id":"203cf2bf.03fc1e","type":"ui_group","name":"Temperature","tab":"805bf49b.46913","order":1,"disp":true,"width":"6","collapse":false},{"id":"b60f8c46.e7aa48","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"805bf49b.46913","type":"ui_tab","name":"BTCN09 - 19127368 - Hồ Ngọc Minh Đức","icon":"dashboard","order":1,"disabled":false,"hidden":false}]