Đồ án cuối kì/19127088_19127219_19127368.json
[{"id":"9f9484b2.fa831","type":"tab","label":"Template","disabled":false,"info":""},{"id":"496944c1.3e5e8c","type":"tab","label":"Website","disabled":false,"info":""},{"id":"c2380373.8b0d7","type":"tab","label":"Entrance Virtual Device","disabled":false,"info":""},{"id":"d99f0b5b.eee2c","type":"tab","label":"Exit Virtual Device","disabled":false,"info":""},{"id":"1ab99527.a118ab","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8520801b.9b3f38","type":"firebaseCertificate","firebaseurl":"silent-elevator-314608-default-rtdb","loginType":"none"},{"id":"10b02953.9ab82f","type":"ui_group","name":"Logout","tab":"ec3d6d8a.a7c408","order":1,"disp":true,"width":"5","collapse":false},{"id":"574620db.4af8a","type":"ui_group","name":"Config","tab":"1cdd8743.db3929","order":2,"disp":true,"width":"6","collapse":false},{"id":"b73ad33e.2555f","type":"ui_group","name":"List Devices","tab":"1cdd8743.db3929","order":3,"disp":true,"width":16,"collapse":false},{"id":"aabb070f.64624","type":"ui_group","name":"List Store","tab":"a8f47691.3b5bf","order":1,"disp":true,"width":25,"collapse":false},{"id":"12edfe84.75fe11","type":"ui_group","name":"Add Store","tab":"a71251d4.a98978","order":1,"disp":true,"width":10,"collapse":false},{"id":"9a7ccca3.0086a8","type":"ui_group","name":"Add device","tab":"b1788338.060648","order":1,"disp":true,"width":"6","collapse":false},{"id":"1a6d4e3.ede1332","type":"ui_group","name":"Chart Current people","tab":"a7117c07.6a7e38","order":1,"disp":true,"width":"14","collapse":false},{"id":"ec3d6d8a.a7c408","type":"ui_tab","name":"Logout","icon":"logout","order":8,"disabled":false,"hidden":false},{"id":"1cdd8743.db3929","type":"ui_tab","name":"Setting","icon":"settings","order":4,"disabled":false,"hidden":true},{"id":"a8f47691.3b5bf","type":"ui_tab","name":"Home","icon":"home","order":3,"disabled":false,"hidden":false},{"id":"a71251d4.a98978","type":"ui_tab","name":"Add Store","icon":"dashboard","order":5,"disabled":false,"hidden":true},{"id":"b1788338.060648","type":"ui_tab","name":"Add Device","icon":"dashboard","order":6,"disabled":false,"hidden":true},{"id":"a7117c07.6a7e38","type":"ui_tab","name":"Realtime","icon":"show_chart","order":7,"disabled":false,"hidden":false},{"id":"fb1433e.b38d65","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b36fa010.2abd6","type":"ui_tab","name":"Login","icon":"fa-user-circle ","order":1,"disabled":false,"hidden":true},{"id":"951c29df.5b0a08","type":"ui_group","name":"Login","tab":"b36fa010.2abd6","order":1,"disp":true,"width":5,"collapse":false},{"id":"480e44a4.f63d5c","type":"ui_spacer","z":"496944c1.3e5e8c","name":"spacer","group":"aabb070f.64624","order":1,"width":23,"height":1},{"id":"636219d3.c3547","type":"ui_spacer","z":"496944c1.3e5e8c","name":"spacer","group":"10b02953.9ab82f","order":1,"width":1,"height":1},{"id":"d5e6fc05.8199e8","type":"ui_spacer","z":"496944c1.3e5e8c","name":"spacer","group":"10b02953.9ab82f","order":1,"width":1,"height":1},{"id":"9638a658.2648b8","type":"ui_group","name":"","tab":"3ed5d7b0.874ee8","order":1,"disp":false,"width":"15","collapse":false},{"id":"23e9960b.711bea","type":"ui_group","name":"Members","tab":"3ed5d7b0.874ee8","order":2,"disp":false,"width":"15","collapse":false},{"id":"7af5a1d0.cb096","type":"ui_group","name":"Status","tab":"3ed5d7b0.874ee8","order":3,"disp":false,"width":"15","collapse":false},{"id":"3ed5d7b0.874ee8","type":"ui_tab","name":"About Us","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"166cc82d.87f65","type":"ui_group","name":"Shop Info","tab":"1cdd8743.db3929","order":1,"disp":true,"width":"6","collapse":false},{"id":"f10df21c.a13ca","type":"ui_group","name":"Close","tab":"1cdd8743.db3929","order":4,"disp":false,"width":"1","collapse":false},{"id":"2986609a.0b888","type":"ui_group","name":"Close","tab":"a71251d4.a98978","order":2,"disp":false,"width":"1","collapse":false},{"id":"daf70d36.5d7b1","type":"ui_group","name":"Close","tab":"b1788338.060648","order":2,"disp":false,"width":"1","collapse":false},{"id":"b0f32fb2.a7f3","type":"ui_spacer","z":"9f9484b2.fa831","name":"spacer","group":"1a6d4e3.ede1332","order":1,"width":1,"height":1},{"id":"db175cc4.8c9b1","type":"ui_spacer","z":"9f9484b2.fa831","name":"spacer","group":"1a6d4e3.ede1332","order":4,"width":1,"height":1},{"id":"b42b6bbf.ea2ea8","type":"ui_spacer","z":"9f9484b2.fa831","name":"spacer","group":"1a6d4e3.ede1332","order":5,"width":1,"height":1},{"id":"b50c6bb4.abca88","type":"ui_spacer","z":"9f9484b2.fa831","name":"spacer","group":"1a6d4e3.ede1332","order":6,"width":1,"height":1},{"id":"7fac66fd.972028","type":"ui_spacer","z":"9f9484b2.fa831","name":"spacer","group":"1a6d4e3.ede1332","order":7,"width":1,"height":1},{"id":"e959e848.09a698","type":"ui_spacer","z":"9f9484b2.fa831","name":"spacer","group":"1a6d4e3.ede1332","order":8,"width":4,"height":1},{"id":"196c302a.65387","type":"ui_tab","name":"Registration","icon":"supervisor_account","disabled":false,"hidden":true},{"id":"49193564.027dd4","type":"ui_group","name":"Registration","tab":"196c302a.65387","order":1,"disp":false,"width":"6","collapse":false},{"id":"e4d8c316.646bc","type":"ui_spacer","z":"496944c1.3e5e8c","name":"spacer","group":"951c29df.5b0a08","order":3,"width":1,"height":1},{"id":"7930b74c.a55048","type":"ui_spacer","z":"496944c1.3e5e8c","name":"spacer","group":"951c29df.5b0a08","order":5,"width":1,"height":1},{"id":"8fc5ff8.b18778","type":"ui_group","name":"Confirm","tab":"196c302a.65387","order":2,"disp":false,"width":"6","collapse":false},{"id":"6d16282.42ba958","type":"ui_tab","name":"Confirm Email","icon":"person_pin","disabled":false,"hidden":true},{"id":"7992642c.e11cbc","type":"ui_group","name":"Code","tab":"6d16282.42ba958","order":1,"disp":true,"width":"10","collapse":false},{"id":"9050372d.f1617","type":"ui_group","name":"Close","tab":"6d16282.42ba958","order":2,"disp":false,"width":"1","collapse":false},{"id":"af8c2f86.0982a","type":"ui_group","name":"Close","tab":"196c302a.65387","order":3,"disp":false,"width":"1","collapse":false},{"id":"3eecdb44.9b9b1c","type":"ui_spacer","z":"496944c1.3e5e8c","name":"spacer","group":"7992642c.e11cbc","order":2,"width":3,"height":1},{"id":"e4ccab4c.25c8e","type":"ui_spacer","z":"496944c1.3e5e8c","name":"spacer","group":"7992642c.e11cbc","order":4,"width":3,"height":1},{"id":"b735ba92.1c861","type":"ui_spacer","z":"496944c1.3e5e8c","name":"spacer","group":"166cc82d.87f65","order":2,"width":1,"height":1},{"id":"393638c8.d2a03","type":"ui_spacer","z":"496944c1.3e5e8c","name":"spacer","group":"574620db.4af8a","order":1,"width":5,"height":1},{"id":"caf09e01.aa9588","type":"ui_spacer","z":"496944c1.3e5e8c","name":"spacer","group":"574620db.4af8a","order":6,"width":1,"height":1},{"id":"b635a497.48425","type":"ui_spacer","z":"496944c1.3e5e8c","name":"spacer","group":"b73ad33e.2555f","order":3,"width":15,"height":1},{"id":"1a5ad58b.36436a","type":"ui_form","z":"496944c1.3e5e8c","name":"Login","label":"","group":"951c29df.5b0a08","order":2,"width":5,"height":1,"options":[{"label":"Username","value":"username","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":80,"wires":[["d6ba66a2.d9d65"]]},{"id":"32828e8c.9f6dc2","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"get","newchildpath":"","x":268.0000305175781,"y":132,"wires":[["6d73ef68.6bf1a8"]]},{"id":"d6ba66a2.d9d65","type":"function","z":"496944c1.3e5e8c","name":"Get Login Info","func":"flow.set(\"username\", msg.payload.username);\nflow.set(\"password\", msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":80,"wires":[["32828e8c.9f6dc2"]]},{"id":"6d73ef68.6bf1a8","type":"function","z":"496944c1.3e5e8c","name":"Check Login","func":"username = flow.get(\"username\");\npassword = flow.get(\"password\");\nstatus = true;\nstr = \"\";\nif (username in msg.payload.admins == false){\n    status = false;\n    str = \"Username is not exists\";\n}\nelse if (password != msg.payload.admins[username].password){\n    status = false;\n    str = \"Password is incorrect\";\n}\nelse {\n    status = true;\n    str = \"Login Success!\";\n}\n    \nmsg.payload = {status: status, str: str};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":307,"y":192,"wires":[["dd702e26.d9dbe","9b2b4510.0fce28","62ad30f0.e41a38"]]},{"id":"dd702e26.d9dbe","type":"ui_text","z":"496944c1.3e5e8c","group":"951c29df.5b0a08","order":6,"width":5,"height":1,"name":"Login Status","label":"","format":"{{msg.payload.str}}","layout":"col-center","x":510,"y":160,"wires":[]},{"id":"b5e2e9a6.1ce2d8","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"all","x":768,"y":264,"wires":[[]]},{"id":"cb5a7d30.c44e88","type":"template","z":"496944c1.3e5e8c","name":"Switch to Tab Home","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"tab\": \"Home\"}","output":"json","x":739,"y":227,"wires":[["b5e2e9a6.1ce2d8"]]},{"id":"9b2b4510.0fce28","type":"switch","z":"496944c1.3e5e8c","name":"If login success","property":"payload.status","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":509.0000305175781,"y":226,"wires":[["cb5a7d30.c44e88","d6c73cb7.2890b"]]},{"id":"772e3122.03737","type":"ui_toast","z":"496944c1.3e5e8c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"Login Notification","x":731,"y":191,"wires":[[]]},{"id":"62ad30f0.e41a38","type":"change","z":"496944c1.3e5e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.str","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":524.0000305175781,"y":192,"wires":[["772e3122.03737"]]},{"id":"6f7e2cde.8947fc","type":"template","z":"496944c1.3e5e8c","name":"Switch to Tab Login","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"tab\": \"Login\"}","output":"json","x":131.00001525878906,"y":366,"wires":[["1c48b4b4.617cb3","7c9877b9.fa884","1d834742.fcca91"]]},{"id":"1c48b4b4.617cb3","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"all","x":217.00001525878906,"y":327,"wires":[[]]},{"id":"fc5a6f7d.1eb2","type":"ui_toast","z":"496944c1.3e5e8c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":129.00001525878906,"y":444.9999694824219,"wires":[]},{"id":"7c9877b9.fa884","type":"change","z":"496944c1.3e5e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Logout Success","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":132.00001525878906,"y":406,"wires":[["fc5a6f7d.1eb2"]]},{"id":"bfade5d1.ac98d8","type":"ui_slider","z":"496944c1.3e5e8c","name":"Volume","label":"Volume","tooltip":"","group":"574620db.4af8a","order":5,"width":5,"height":1,"passthru":true,"outs":"all","topic":"Volume","topicType":"msg","min":0,"max":"100","step":1,"x":2185,"y":421.99998474121094,"wires":[["fc32735.670539","18a9cea8.d459a9"]]},{"id":"e7a23f0a.1e8178","type":"ui_numeric","z":"496944c1.3e5e8c","name":"degree","label":"Celcius degree","tooltip":"","group":"574620db.4af8a","order":3,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"degree","topicType":"msg","format":"{{value}}","min":"36","max":"40","step":"","x":2138,"y":320,"wires":[["b10ed61f.6dd2b8"]]},{"id":"50147a09.291ec4","type":"ui_text_input","z":"496944c1.3e5e8c","name":"Max people","label":"Max people","tooltip":"","group":"166cc82d.87f65","order":3,"width":5,"height":1,"passthru":false,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1298.9999389648438,"y":270.0000305175781,"wires":[["c9934453.c775c"]]},{"id":"e3bc9101.0295a8","type":"change","z":"496944c1.3e5e8c","name":"ui_control","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Device\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"ID\",\"field\":\"id\",\"width\":100,\"align\":\"center\",\"color\":\"red\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Name\",\"field\":\"name\",\"width\":100,\"align\":\"center\",\"color\":\"red\"}]},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Measurements\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\",\"legend\":\"function (value) {return '&nbsp;&nbsp;'+value+'°C';}\"},\"title\":\"Temperature\",\"field\":\"df_temp\",\"formatter\":\"progress\",\"topCalc\":\"avg\",\"width\":280}]},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Settings\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Volume\",\"field\":\"df_volume\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue();}\",\"width\":170,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Status\",\"field\":\"status\",\"formatter\":\"tick\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\",\"allowEmpty\":true,\"allowTruthy\":true,\"crossElement\":\"<i class='fa fa-ban'></i>\"},\"title\":\"Status\",\"field\":\"status\",\"formatter\":\"tickCross\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Type\",\"field\":\"type\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue();}\",\"width\":100,\"align\":\"center\"}]}],\"layout\":\"fitColumns\",\"movableColumns\":false,\"groupBy\":\"\"},\"customHeight\":12}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2178,"y":382.99998474121094,"wires":[["71afeeba.b846f8"]]},{"id":"87a3fe93.6a4f5","type":"ui_form","z":"496944c1.3e5e8c","name":"Choose Device","label":"","group":"574620db.4af8a","order":4,"width":6,"height":1,"options":[{"label":"Device","value":"Edit device","type":"text","required":false,"rows":null},{"label":"All","value":"All","type":"checkbox","required":false,"rows":null}],"formValue":{"Edit device":"","All":false},"payload":"","submit":"Edit","cancel":"","topic":"topic","topicType":"msg","splitLayout":true,"x":1279,"y":654,"wires":[["3100c6ac.e2c31a"]]},{"id":"229bc15f.cfb54e","type":"change","z":"496944c1.3e5e8c","name":"ui_control","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Shop\",\"field\":\"name\",\"width\":200,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Number devices\",\"field\":\"num_devices\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue();}\",\"width\":200},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Current Customers\",\"field\":\"num_customers\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue();}\",\"width\":200},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Max Customers\",\"field\":\"maxPeople\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue();}\",\"width\":200},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Address\",\"field\":\"address\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue();}\",\"width\":543}],\"layout\":\"fitWidth\",\"movableColumns\":false,\"groupBy\":\"\"},\"customHeight\":18}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":959,"y":498,"wires":[["dac153f8.67583"]]},{"id":"63eac433.b8d75c","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"change","x":1392,"y":31.99999237060547,"wires":[[]]},{"id":"f295c2b7.b5194","type":"function","z":"496944c1.3e5e8c","name":"Switch to tab Setting","func":"msg.payload = {\"tab\":\"Setting\"};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1202,"y":30.99999237060547,"wires":[["63eac433.b8d75c"]]},{"id":"90c8f71d.f2584","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"change","x":672.0000305175781,"y":2936,"wires":[[]]},{"id":"6392a11e.2f88d","type":"function","z":"496944c1.3e5e8c","name":"Return home","func":"msg.payload = {\"tab\":\"Home\"};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":668,"y":2891,"wires":[["90c8f71d.f2584"]]},{"id":"62123aae.7bd66c","type":"ui_button","z":"496944c1.3e5e8c","name":"Close Tab Setting","group":"f10df21c.a13ca","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":"true","payloadType":"str","topic":"topic","topicType":"msg","x":652,"y":2851,"wires":[["6392a11e.2f88d"]]},{"id":"71afeeba.b846f8","type":"ui_table","z":"496944c1.3e5e8c","group":"b73ad33e.2555f","name":"Thermostats","order":4,"width":16,"height":6,"columns":[],"outputs":1,"cts":true,"x":2363,"y":378.99998474121094,"wires":[[]]},{"id":"dac153f8.67583","type":"ui_table","z":"496944c1.3e5e8c","group":"aabb070f.64624","name":"List stores","order":4,"width":25,"height":18,"columns":[],"outputs":1,"cts":true,"x":954,"y":459,"wires":[["f295c2b7.b5194","56361ea2.a9e7e8","144bbebd.ab6221","5b0d8bdf.cba18c","c5b4c864.f3ba58","d7a74582.6e4f78","7cd98db5.cbbe0c"]]},{"id":"d6c73cb7.2890b","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"","childpath":"/store","propertyType":"str","method":"get","newchildpath":"","x":777,"y":688,"wires":[["ef4ba36e.4077a"]]},{"id":"ef4ba36e.4077a","type":"function","z":"496944c1.3e5e8c","name":"Set storeData","func":"data = [];\nfor (let store in msg.payload){\n    if (\"devices\" in msg.payload[store])\n        msg.payload[store][\"num_devices\"] = Object.keys(msg.payload[store][\"devices\"]).length;\n    else \n        msg.payload[store][\"num_devices\"] = 0;\n    data.push(msg.payload[store]);\n}\n\nflow.set(\"storeData\", msg.payload);\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":976,"y":539.0000305175781,"wires":[["229bc15f.cfb54e","816a9096.d8c818","3f909370.fa9a14"]]},{"id":"56361ea2.a9e7e8","type":"function","z":"496944c1.3e5e8c","name":"Set devices","func":"flow.set(\"devices\", msg.payload.devices);\ndevices = [];\n\nfor (device in msg.payload.devices)\n    devices.push(msg.payload.devices[device]);\n\nmsg.payload = devices;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1921,"y":371,"wires":[["e3bc9101.0295a8","e7a23f0a.1e8178","bfade5d1.ac98d8"]]},{"id":"fc32735.670539","type":"ui_text","z":"496944c1.3e5e8c","group":"574620db.4af8a","order":2,"width":1,"height":1,"name":"Volume text","label":"","format":"{{msg.payload}}","layout":"row-spread","x":2380,"y":421.99998474121094,"wires":[]},{"id":"8a707388.ad248","type":"ui_button","z":"496944c1.3e5e8c","name":"Max people Edit","group":"166cc82d.87f65","order":4,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"send","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1373.0000610351562,"y":1091.9999694824219,"wires":[["3d0cbb2e.b4a7c4"]]},{"id":"144bbebd.ab6221","type":"function","z":"496944c1.3e5e8c","name":"Max people","func":"msg.payload = parseInt(msg.payload.maxPeople);\nflow.set(\"maxPeople\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1279,"y":215.00003051757812,"wires":[["50147a09.291ec4"]]},{"id":"ce0f255d.509c48","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"msg.payload","childpath":"dbPath","propertyType":"msg","method":"update","newchildpath":"","x":1388.0000610351562,"y":1189.9999389648438,"wires":[["d6c73cb7.2890b","5ac9542.b22caac"]]},{"id":"5b0d8bdf.cba18c","type":"function","z":"496944c1.3e5e8c","name":"Set current Store ID","func":"flow.set(\"currentStore\", msg.payload.id);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1201,"y":71.99999237060547,"wires":[[]]},{"id":"3d0cbb2e.b4a7c4","type":"function","z":"496944c1.3e5e8c","name":"","func":"msg.dbPath = \"store/\"+flow.get(\"currentStore\");\nmsg.payload = {\"maxPeople\": flow.get(\"maxPeople\")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1379,"y":1141.9999389648438,"wires":[["ce0f255d.509c48","4a1e947d.92d024"]]},{"id":"f23b8dc6.7ecfe8","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"msg.payload","childpath":"dbPath","propertyType":"msg","method":"update","newchildpath":"","x":1719,"y":617,"wires":[["81839607.7d8658"]]},{"id":"3100c6ac.e2c31a","type":"function","z":"496944c1.3e5e8c","name":"","func":"msg.result = false;\neditDevices = [msg.payload[\"Edit device\"]] ;\ndevices = flow.get(\"devices\");\nif (msg.payload.All)\n    editDevices = Object.keys(devices);\nelse if (msg.payload[\"Edit device\"] in devices == false){\n   msg.payload = '';\n   return msg;\n}\nmsg.payload = {};\nmsg.dbPath = \"store/\"+flow.get(\"currentStore\")+\"/devices\";\nfor (let device of editDevices){\n    if (devices[device].type != \"entrance\")\n        continue;\n    volume = flow.get(\"volume\");\n    degree = flow.get(\"degree\");\n    devices[device].df_volume = volume;\n    devices[device].df_temp = degree;\n    msg.payload[device] = devices[device];\n}\nmsg.result = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1476.0000610351562,"y":648,"wires":[["d7073dad.901cd8"]]},{"id":"18a9cea8.d459a9","type":"function","z":"496944c1.3e5e8c","name":"Set volume","func":"flow.set(\"volume\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2392,"y":461.99998474121094,"wires":[[]]},{"id":"b10ed61f.6dd2b8","type":"function","z":"496944c1.3e5e8c","name":"Set degree","func":"flow.set(\"degree\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2200,"y":279.00001525878906,"wires":[[]]},{"id":"ee12acd1.0b92f8","type":"json","z":"496944c1.3e5e8c","name":"","property":"payload","action":"","pretty":false,"x":1680,"y":658,"wires":[["f23b8dc6.7ecfe8"]]},{"id":"49eb3e7e.8ec938","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"msg.payload","childpath":"dbPath","propertyType":"msg","method":"get","newchildpath":"","x":1421.9998779296875,"y":522.0000305175781,"wires":[["56361ea2.a9e7e8","d6c73cb7.2890b"]]},{"id":"81839607.7d8658","type":"function","z":"496944c1.3e5e8c","name":"","func":"msg.dbPath = \"store/\" + flow.get(\"currentStore\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1423,"y":565.0000305175781,"wires":[["49eb3e7e.8ec938","82b7e8bf.14b828"]]},{"id":"82b7e8bf.14b828","type":"ui_toast","z":"496944c1.3e5e8c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Edit Success","name":"","x":1638,"y":562.0000305175781,"wires":[[]]},{"id":"6b299062.b47018","type":"mqtt in","z":"496944c1.3e5e8c","name":"","topic":"19clc9/nhom10/#","qos":"2","datatype":"auto","broker":"1ab99527.a118ab","nl":false,"rap":true,"rh":0,"x":546.0000610351562,"y":1797.0000610351562,"wires":[["c8d38dc0.7997a"]]},{"id":"c8d38dc0.7997a","type":"json","z":"496944c1.3e5e8c","name":"","property":"payload","action":"","pretty":false,"x":624.0001220703125,"y":1754.0000610351562,"wires":[["9bdd2ed7.846278"]]},{"id":"9bdd2ed7.846278","type":"function","z":"496944c1.3e5e8c","name":"Update Number Customers","func":"msg.result = false;\nmsg.overPeople = false;\ndevice = msg.payload;\ndata = flow.get(\"storeData\");\n\nif ( device.storeId in data == false || \"devices\" in data[device.storeId] == false){\n    return msg;\n}\ndevices = data[device.storeId].devices;\nif (device.deviceId in devices == false)\n    return msg;\n    \ncurrentPeople = data[device.storeId].num_customers;\nif (device.type == \"entrance\"){\n    currentPeople += 1;\n    if (currentPeople >= data[device.storeId].maxPeople)\n        msg.overPeople = true;\n    if (device.temp > device.maxTemp){\n        msg.overTemp = true;\n        msg.temp = device.temp;\n    }\n}\nelse if (currentPeople > 0) {\n    currentPeople -=1;\n}\nmsg.result = true;\nmsg.dbPath = \"store/\"+device.storeId;\nmsg.payload = {\"num_customers\" : currentPeople};\nmsg.topic = data[device.storeId].mqtt.topic;\nmsg.writeKey = data[device.storeId].thingspeak.writeKey;\nmsg.readKey = data[device.storeId].thingspeak.readKey;\nmsg.id = data[device.storeId].thingspeak.id;\nmsg.storeId = device.storeId;\nmsg.maxPeople = data[device.storeId].maxPeople;\nmsg.num_customers = currentPeople;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720.0001220703125,"y":1707.0000610351562,"wires":[["b58cfad6.c4b08","cc0a9d0a.22d1d","12b6d91d.4c53bf"]]},{"id":"b58cfad6.c4b08","type":"switch","z":"496944c1.3e5e8c","name":"","property":"result","propertyType":"msg","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":706,"y":1655.0000610351562,"wires":[["99234fef.2fa03","b28d3af7.bc4828","adf1b064.83b9c","dafaf6eb.e16a6"]]},{"id":"b28d3af7.bc4828","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"msg.payload","childpath":"dbPath","propertyType":"msg","method":"update","newchildpath":"","x":638,"y":1601.9999389648438,"wires":[["d6c73cb7.2890b"]]},{"id":"99234fef.2fa03","type":"mqtt out","z":"496944c1.3e5e8c","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ab99527.a118ab","x":988,"y":1652.0000610351562,"wires":[]},{"id":"44a94d72.d61574","type":"ui_button","z":"496944c1.3e5e8c","name":"Add store button","group":"aabb070f.64624","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"my_library_add","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":917.9999694824219,"y":2848.0001220703125,"wires":[["553b53a2.d03614"]]},{"id":"b1ec6c3c.3e572","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"all","x":940,"y":2925.0001220703125,"wires":[[]]},{"id":"553b53a2.d03614","type":"template","z":"496944c1.3e5e8c","name":"Switch to Add store","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"tab\": \"Add Store\"}","output":"json","x":933.9999694824219,"y":2885.0001220703125,"wires":[["b1ec6c3c.3e572"]]},{"id":"9fcaac0d.1ebf08","type":"ui_form","z":"496944c1.3e5e8c","name":"Add Store","label":"","group":"12edfe84.75fe11","order":1,"width":10,"height":1,"options":[{"label":"Store ID","value":"id","type":"text","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Address","value":"address","type":"text","required":true,"rows":null},{"label":"Max customers","value":"maxPeople","type":"number","required":true,"rows":null},{"label":"ThingSpeak ID","value":"thingspeakid","type":"text","required":true,"rows":null},{"label":"Write API Key","value":"writeKey","type":"text","required":true,"rows":null},{"label":"Read API Key","value":"readKey","type":"text","required":true,"rows":null}],"formValue":{"id":"","name":"","address":"","maxPeople":"","thingspeakid":"","writeKey":"","readKey":""},"payload":"","submit":"Submit","cancel":"","topic":"topic","topicType":"msg","splitLayout":false,"x":65,"y":874,"wires":[["7a9e01dd.87c0a8"]]},{"id":"7a9e01dd.87c0a8","type":"function","z":"496944c1.3e5e8c","name":"Prepair Data","func":"data = flow.get(\"storeData\");\nnewStore = msg.payload;\nif (newStore.storeId in data){\n    msg.result = false;\n    msg.topic = \"Store ID Exists!\";\n    return msg;\n}\nmsg.payload = {\n    [newStore.id]: {\n            \"id\": newStore.id,\n            \"name\": newStore.name,\n            \"address\": newStore.address,\n            \"devices\": null,\n            \"maxPeople\": newStore.maxPeople,\n            \"num_customers\": 0,\n            \"num_devices\": 0,\n            \"mqtt\": {\"port\": 1883,\n                    \"server\": \"test.mosquitto.org\",\n                    \"topic\": \"19clc9/nhom10/\"+newStore.id\n                    },\n            \"thingspeak\": {\n                \"writeKey\": newStore.writeKey,\n                \"readKey\": newStore.readKey,\n                \"id\": newStore.thingspeakid,\n            }\n    }\n};\nmsg.result = true;\nmsg.topic = \"Add store \"+newStore.name+\" Success\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":227,"y":874,"wires":[["e2de6d0c.fa1b18","211421ba.4a8936"]]},{"id":"e2de6d0c.fa1b18","type":"switch","z":"496944c1.3e5e8c","name":"","property":"result","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":247.00003051757812,"y":834,"wires":[["14aab6b9.0ea719"],["afb218b5.3bff38"]]},{"id":"b6595dc8.810728","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"","childpath":"store","propertyType":"str","method":"update","newchildpath":"","x":236,"y":755,"wires":[["d6c73cb7.2890b","afb218b5.3bff38"]]},{"id":"5b83f732.d16608","type":"ui_toast","z":"496944c1.3e5e8c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":458,"y":850,"wires":[[]]},{"id":"88d0c06e.74015","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"all","x":1215,"y":2931.000244140625,"wires":[[]]},{"id":"8629e440.32e85","type":"template","z":"496944c1.3e5e8c","name":"Switch to Tab Home","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"tab\": \"Home\"}","output":"json","x":1210.9999389648438,"y":2892.000244140625,"wires":[["88d0c06e.74015"]]},{"id":"c6fb2b93.139e9","type":"ui_button","z":"496944c1.3e5e8c","name":"Close Tab Add store","group":"2986609a.0b888","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1214.9999389648438,"y":2848.000244140625,"wires":[["8629e440.32e85"]]},{"id":"211421ba.4a8936","type":"debug","z":"496944c1.3e5e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":237,"y":916,"wires":[]},{"id":"14aab6b9.0ea719","type":"json","z":"496944c1.3e5e8c","name":"","property":"payload","action":"","pretty":false,"x":249.00003051757812,"y":797,"wires":[["b6595dc8.810728"]]},{"id":"afb218b5.3bff38","type":"change","z":"496944c1.3e5e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":463,"y":808,"wires":[["5b83f732.d16608"]]},{"id":"df7efece.3b91b8","type":"ui_button","z":"496944c1.3e5e8c","name":"Refresh Store List","group":"aabb070f.64624","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":136,"y":608,"wires":[["db4c4277.7ce7f8","c2b44494.8c17b"]]},{"id":"55a06302.78a62c","type":"ui_toast","z":"496944c1.3e5e8c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":156,"y":678,"wires":[]},{"id":"db4c4277.7ce7f8","type":"change","z":"496944c1.3e5e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Reload Success","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":153,"y":644,"wires":[["55a06302.78a62c"]]},{"id":"5ac9542.b22caac","type":"ui_toast","z":"496944c1.3e5e8c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Edit Success","name":"","x":1601,"y":1191.9999389648438,"wires":[[]]},{"id":"df038611.1a2348","type":"comment","z":"496944c1.3e5e8c","name":"Choose specified shop from shop list","info":"","x":988,"y":415,"wires":[]},{"id":"77304563.9d6d74","type":"comment","z":"496944c1.3e5e8c","name":"LOAD LIST SHOPS","info":"","x":775,"y":639,"wires":[],"icon":"node-red-contrib-firebase-data/firebase.png"},{"id":"a095fe07.1536b","type":"comment","z":"496944c1.3e5e8c","name":"Receive Message From Devices","info":"","x":363,"y":1737.9999389648438,"wires":[]},{"id":"73ed08ee.bc609","type":"ui_button","z":"496944c1.3e5e8c","name":"Add device button","group":"b73ad33e.2555f","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"my_library_add","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":362,"y":2848,"wires":[["d75a0049.0b96e"]]},{"id":"d75a0049.0b96e","type":"template","z":"496944c1.3e5e8c","name":"Switch to Add store","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"tab\": \"Add Device\"}","output":"json","x":397,"y":2885,"wires":[["1df0202c.a773d"]]},{"id":"1df0202c.a773d","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"change","x":409.0000305175781,"y":2924,"wires":[[]]},{"id":"2e23bd58.d4f73a","type":"ui_form","z":"496944c1.3e5e8c","name":"Add device","label":"","group":"9a7ccca3.0086a8","order":1,"width":0,"height":0,"options":[{"label":"Device ID","value":"id","type":"text","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Entrance Device","value":"type","type":"checkbox","required":true,"rows":null},{"label":"Default Temp","value":"df_temp","type":"number","required":true,"rows":null},{"label":"Default Volume","value":"df_volume","type":"text","required":true,"rows":null}],"formValue":{"id":"","name":"","type":false,"df_temp":"","df_volume":""},"payload":"","submit":"Submit","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","x":1287,"y":947.0000610351562,"wires":[["c89fdd7f.5498e8"]]},{"id":"c89fdd7f.5498e8","type":"function","z":"496944c1.3e5e8c","name":"Prepair Data","func":"data = flow.get(\"storeData\");\nstore = flow.get(\"currentStore\").replace(\"/store/\",\"\");\nnewDevice = msg.payload;\nmsg.dbPath = \"store/\"+store\n\nif (\"devices\" in data[store] == false){\n    msg.payload = {\"devices\": []};\n}\nelse if (newDevice.id in data[store][\"devices\"] == true){\n    msg.result  = false;\n    msg.topic = \"Device ID Exists!\";\n    return msg;\n}\ndevice = {\n            \"id\": newDevice.id,\n            \"name\": newDevice.name,\n            \"status\": true\n}\nif (newDevice.type == true){\n    type = \"entrance\";\n    device[\"df_volume\"]= newDevice.df_volume;\n    device[\"df_temp\"]= newDevice.df_temp;\n}\nelse type = \"exit\";\ndevice['type']= type;\nif (\"devices\" in msg.payload){\n    msg.payload[\"devices\"] = {\n    [newDevice.id]: device\n    };\n}\nelse  {\n    msg.payload = {\n        [newDevice.id]: device\n    };\n    msg.dbPath = \"store/\"+store+'/devices'\n}\nmsg.result = true;\n\nmsg.topic = \"Add device \"+newDevice.name+\" Success\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1491,"y":948,"wires":[["6fec758a.aa2f34"]]},{"id":"6fec758a.aa2f34","type":"switch","z":"496944c1.3e5e8c","name":"","property":"result","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1509.0000305175781,"y":995,"wires":[["4dd7205b.f982b8"],["a4c2bcf.dd157c"]]},{"id":"e9b8ff0a.58f97","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"","childpath":"dbPath","propertyType":"msg","method":"update","newchildpath":"","x":1516,"y":888.0000610351562,"wires":[["a4c2bcf.dd157c","c4890c36.72564","d6c73cb7.2890b"]]},{"id":"b53370de.5d53e","type":"ui_toast","z":"496944c1.3e5e8c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1725,"y":1055.0000610351562,"wires":[[]]},{"id":"4dd7205b.f982b8","type":"json","z":"496944c1.3e5e8c","name":"","property":"payload","action":"","pretty":false,"x":1682.0000305175781,"y":963,"wires":[["e9b8ff0a.58f97"]]},{"id":"a4c2bcf.dd157c","type":"change","z":"496944c1.3e5e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1705,"y":1010.0000610351562,"wires":[["b53370de.5d53e"]]},{"id":"87b1908c.50c77","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"all","x":133.00003051757812,"y":2926,"wires":[[]]},{"id":"a9184c83.f2a1a8","type":"template","z":"496944c1.3e5e8c","name":"Switch to Tab Setting","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"tab\": \"Setting\"}","output":"json","x":145,"y":2888,"wires":[["87b1908c.50c77"]]},{"id":"eb9426f3.6bc2e8","type":"ui_button","z":"496944c1.3e5e8c","name":"Close Tab Add device","group":"daf70d36.5d7b1","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":105,"y":2848,"wires":[["a9184c83.f2a1a8"]]},{"id":"816a9096.d8c818","type":"template","z":"496944c1.3e5e8c","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n  \"width\": 400,\n  \"height\": 200,\n  \"padding\": 5,\n\n  \"data\": [\n    {\n      \"name\": \"table\",\n      \"values\": [\n       \n      ]\n    }\n  ],\n\n  \"signals\": [\n    {\n      \"name\": \"tooltip\",\n      \"value\": {},\n      \"on\": [\n        {\"events\": \"rect:mouseover\", \"update\": \"datum\"},\n        {\"events\": \"rect:mouseout\",  \"update\": \"{}\"}\n      ]\n    }\n  ],\n\n  \"scales\": [\n    {\n      \"name\": \"xscale\",\n      \"type\": \"band\",\n      \"domain\": {\"data\": \"table\", \"field\": \"shop\"},\n      \"range\": \"width\",\n      \"padding\": 0.05,\n      \"round\": true\n    },\n    {\n      \"name\": \"yscale\",\n      \"domain\": {\"data\": \"table\", \"field\": \"amount\"},\n      \"nice\": true,\n      \"range\": \"height\"\n    }\n  ],\n\n  \"axes\": [\n    { \"orient\": \"bottom\", \"scale\": \"xscale\" },\n    { \"orient\": \"left\", \"scale\": \"yscale\" }\n  ],\n\n  \"marks\": [\n    {\n      \"type\": \"rect\",\n      \"from\": {\"data\":\"table\"},\n      \"encode\": {\n        \"enter\": {\n          \"x\": {\"scale\": \"xscale\", \"field\": \"shop\"},\n          \"width\": {\"scale\": \"xscale\", \"band\": 1},\n          \"y\": {\"scale\": \"yscale\", \"field\": \"amount\"},\n          \"y2\": {\"scale\": \"yscale\", \"value\": 0}\n        },\n        \"update\": {\n          \"fill\": {\"value\": \"#F08080\"}\n        },\n        \"hover\": {\n          \"fill\": {\"value\": \"#F5E935\"}\n        }\n      }\n    },\n    {\n      \"type\": \"text\",\n      \"encode\": {\n        \"enter\": {\n            \"bold\":{\"value\":\"true\"},\n            \"fontSize\":{\"value\": \"20\"},\n          \"align\": {\"value\": \"center\"},\n          \"baseline\": {\"value\": \"bottom\"},\n          \"fill\": {\"value\": \"#0A0A0A\"}\n        },\n        \"update\": {\n          \"x\": {\"scale\": \"xscale\", \"signal\": \"tooltip.shop\", \"band\": 0.5},\n          \"y\": {\"scale\": \"yscale\", \"signal\": \"tooltip.amount\", \"offset\": -2},\n          \"text\": {\"signal\": \"tooltip.amount\"},\n          \"fillOpacity\": [\n            {\"test\": \"datum === tooltip\", \"value\": 0},\n            {\"value\": 1}\n          ]\n        }\n      }\n    }\n  ]\n}","output":"json","x":1817,"y":152.949951171875,"wires":[["f8fbd4b2.f93db"]]},{"id":"cf470c62.c7325","type":"ui_vega","z":"496944c1.3e5e8c","group":"1a6d4e3.ede1332","name":"","order":2,"width":9,"height":5,"vega":"","x":1883,"y":70.949951171875,"wires":[]},{"id":"f8fbd4b2.f93db","type":"function","z":"496944c1.3e5e8c","name":"Set data","func":"data = [];\nstoreData = flow.get(\"storeData\");\nfor (store in storeData){\n    data.push({\n        \"shop\": storeData[store].name,\n        \"amount\": storeData[store].num_customers\n    })\n}\nmsg.payload.data[0].values = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1856,"y":110.949951171875,"wires":[["cf470c62.c7325"]]},{"id":"c5b4c864.f3ba58","type":"ui_text","z":"496944c1.3e5e8c","group":"166cc82d.87f65","order":1,"width":5,"height":1,"name":"Shop name","label":"","format":"{{msg.payload.name}}","layout":"row-left","x":1193.0000610351562,"y":120.99999237060547,"wires":[]},{"id":"c5a9c48c.9fe4f8","type":"ui_gauge","z":"496944c1.3e5e8c","name":"","group":"166cc82d.87f65","order":5,"width":6,"height":5,"gtype":"gage","title":"","label":"People","format":"{{value}}","min":0,"max":10,"colors":["#ffbcbc","#ff6868","#ff3e69"],"seg1":"","seg2":"","x":1859.0000610351562,"y":1201.9999389648438,"wires":[]},{"id":"d7a74582.6e4f78","type":"function","z":"496944c1.3e5e8c","name":"Format Data Gauge","func":"min = 0;\nmax = parseInt(msg.payload.maxPeople);\ndata = msg.payload.num_customers;\nmsg = {payload:data,ui_control:{min:min,max:max},topic: \"\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":1264.9999389648438,"wires":[["c5a9c48c.9fe4f8"]]},{"id":"c9934453.c775c","type":"function","z":"496944c1.3e5e8c","name":"Set max people","func":"flow.set(\"maxPeople\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1352.9999389648438,"y":317.0000305175781,"wires":[[]]},{"id":"3f909370.fa9a14","type":"debug","z":"496944c1.3e5e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":974.0000610351562,"y":581,"wires":[]},{"id":"4a1e947d.92d024","type":"function","z":"496944c1.3e5e8c","name":"","func":"data = flow.get(\"storeData\");\ncurrentStore = flow.get(\"currentStore\");\n\nmin = 0;\nmax = parseInt(msg.payload.maxPeople);\nnum = data[currentStore].num_customers;\nmsg = {payload:num,ui_control:{min:min,max:max},topic: \"\"};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1561,"y":1145.9999389648438,"wires":[["c5a9c48c.9fe4f8"]]},{"id":"c2b44494.8c17b","type":"change","z":"496944c1.3e5e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":165,"y":564,"wires":[["d6c73cb7.2890b"]]},{"id":"c4890c36.72564","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"","childpath":"store","propertyType":"str","method":"get","newchildpath":"","x":1735,"y":900.0000610351562,"wires":[["36b4b7da.7be64"]]},{"id":"36b4b7da.7be64","type":"function","z":"496944c1.3e5e8c","name":"Get current Store","func":"msg.payload = msg.payload[flow.get(\"currentStore\")];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2106,"y":860,"wires":[["56361ea2.a9e7e8"]]},{"id":"d7073dad.901cd8","type":"switch","z":"496944c1.3e5e8c","name":"","property":"result","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1502.0000610351562,"y":688,"wires":[["ee12acd1.0b92f8"],["223f4274.57492e"]]},{"id":"91056b00.ea02c","type":"ui_toast","z":"496944c1.3e5e8c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Error","name":"","x":1924,"y":739,"wires":[[]]},{"id":"223f4274.57492e","type":"change","z":"496944c1.3e5e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Device Not exists!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1715.0000610351562,"y":738,"wires":[["91056b00.ea02c"]]},{"id":"37161ad1.795076","type":"ui_clock","z":"496944c1.3e5e8c","name":"","group":"1a6d4e3.ede1332","order":3,"width":4,"height":4,"x":2048,"y":129.09280395507812,"wires":[]},{"id":"7dc08ce9.691624","type":"inject","z":"496944c1.3e5e8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1999.5714111328125,"y":74.94998168945312,"wires":[["37161ad1.795076"]],"l":false},{"id":"1102e910.fe4b27","type":"ui_template","z":"9f9484b2.fa831","group":"951c29df.5b0a08","name":"Chỉnh màu ở đây nè","order":1,"width":5,"height":1,"format":"<style id=\"blue-dashboard\">\nbody.nr-dashboard-theme {\n  /*background: radial-gradient(circle, #fdfcfb 0%, #c3cfe2 100%);*/\n  background: radial-gradient(circle, #fdfcfb 0%, #c3cfe2 100%);\n    color: black;\n}\nbody.nr-dashboard-theme md-toolbar {\n   background: radial-gradient(circle, #48c6ef 0%,  #6f86d6 100%);\n    color: #fff;\n}\n\n}\nbody.nr-dashboard-theme md-card {\n    color: rgb(215 223 245);\n}\nbody.nr-dashboard-theme md-sidenav {\n    color: rgb(215 223 245);\n    background: radial-gradient(circle,  #48c6ef 0%,  #6f86d6  100%);\n}\nbody.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n    color: rgb(215 223 245);\n    background-color: transparent;\n}\n.nr-dashboard-theme ui-card-panel {\n    background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 100%);\n    border: none;\n    border-radius: 1em;\n    box-shadow: 0 0 1em 0em rgb(0 0 100 / 50%)\n}\n.md-card.tabulator{\n    background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 100%);\n}\nbody.nr-dashboard-theme md-content md-card {\n    background:transparent;\n   /* color: rgb(215 223 245);*/\n}\n.nr-dashboard-theme .nr-dashboard-template {\n    background:transparent;\n}\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    /*color: #6a99f1;*/\n    text-shadow: 1px 1px 0px rgb(0 0 0 / 50%);\n}\n.md-button{\n    border-radius:0.6em;\n    color:rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n   /*background-color: #053ea8;*/\n   background-color:#4d6ede;\n    color:rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #C5CAE9;\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:focus {\n    background-color: #0646bd;\n}\n.nr-dashboard-theme .nr-dashboard-numeric .value {\n    background:unset;\n    color: black;\n}\n.nr-dashboard-theme .nr-dashboard-numeric .md-icon-button {\n    background: unset;\n    color: black;\n}\n.nr-dashboard-theme .nr-dashboard-form {\n    color:rgb(215 223 245);\n    color: black; =\n}\n.nr-dashboard-theme .nr-dashboard-form-button {\n    /*background-color: #053ea8;*/\n    background-color:#4d6ede;\n    color:rgb(215 223 245);\n    \n}\n\n.nr-dashboard-theme .nr-dashboard-form-button:hover {\n    background-color: #C5CAE9 !important;\n}\n.nr-dashboard-theme .nr-dashboard-form-button:focus {\n    background-color: #0646bd !important;\n}\n.nr-dashboard-theme md-input-container.md-default-theme .md-input, md-input-container .md-input {\n    color:rgb(215 223 245);\n    border-color: #074fd4 !important;\n}\n\n\n\n\n\n.nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n    background-color: #3d6be8;\n    border-color: #3d6be8;\n}\n\n.nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(0 0 0 / 100%);\n    color:rgb(215 223 245);\n    \n    border-radius:0.8em;\n}\n\n.nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n    margin-top: -3px;\n    border-color: #eeeeee7a;\n    \n}\n.nr-dashboard-theme .md-select-menu-container {\n    max-height: 85%;\n    overflow-y: auto;\n    border: none;\n    border-radius: 0.8em;\n}\n\n.nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(40 53 147);\n   \n    height: 29px;\n    border-radius: 0.6em;\n    margin-left: 10px;\n    margin-right: 10px;\n    margin-top: 2px;\n    box-shadow: 0 0 6px 6px #24202133;\n    transition: 0.3s;\n}\n.nr-dashboard-theme md-select-menu md-option[selected] {\n    color: rgb(130 177 255) !important;\n    background-color: rgb(27 90 197) !important;\n}\n.nr-dashboard-theme md-select-menu md-option:nth-child(even) {\n    background-color: rgb(31 31 152);\n}\n.nr-dashboard-theme md-select-menu md-option:last-child {\n   margin-bottom: 8px;\n}\n.nr-dashboard-theme md-select-menu md-option:hover {\n    background-color: rgb(20 91 211) !important;\n    padding-left: 26px;\n}\n.nr-dashboard-theme md-select-menu md-option > .md-ripple-container{\n     border-radius: 14px;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":516.5000305175781,"y":268,"wires":[[]],"l":false},{"id":"dd07f10f.770358","type":"ui_button","z":"496944c1.3e5e8c","name":"","group":"10b02953.9ab82f","order":2,"width":0,"height":0,"passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":70.95001220703125,"y":325.38330078125,"wires":[["6f7e2cde.8947fc"]],"l":false},{"id":"8e67cb62.7ca428","type":"ui_template","z":"9f9484b2.fa831","group":"aabb070f.64624","name":"CSS: ui-table","order":1,"width":0,"height":0,"format":"<style>\n\n  .tabulator{padding-left:2px;border-radius:1px solid rgb(109,138,216,50%);background-color:rgb(109,138,216,30%);font-size:20px}\n  \n  .tabulator .tabulator-header{border-right:1px solid rgb(109,138,216,50%)!important;background-color:#202529}\n\n  .tabulator-col-content{background-color:rgb(109,138,216,50%);height:37px;font-size:20px}\n\n  .tabulator-row-odd.tabulator-cell{min-height:31px;background-color:#181c1f!important}\n  .tabulator-row-even{background-color:rgb(109,138,216,10%)!important}\n\n  .tabulator-row .tabulator-cell{border-right:1px solid rgb(109,138,216,50%);\n  border-bottom:1px solid rgb(109,138,216,50%);\n  font-size :15px!important}\n  .tabulator .tabulator-header .tabulator-col{border-right:0px solid #aaa}\n    .tabulator-row.tabulator-selectable:hover{background-color:rgb(109,138,216,30%)!important};\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":568.0000076293945,"y":174.00000190734863,"wires":[[]]},{"id":"845d145c.cb2088","type":"ui_template","z":"9f9484b2.fa831","group":"b73ad33e.2555f","name":"CSS: ui-table","order":5,"width":16,"height":1,"format":"<style>\n\n  .tabulator{padding-left:2px;border-radius:1px solid rgb(109,138,216,50%);background-color:rgb(109,138,216,30%);font-size:20px}\n  \n  .tabulator .tabulator-header{border-right:1px solid rgb(109,138,216,50%)!important;background-color:#202529}\n  .tabulator-col-content{background-color:rgb(109,138,216,50%);height:37px;font-size:20px}\n\n  .tabulator-row-odd.tabulator-cell{min-height:31px;background-color:#181c1f!important}\n  .tabulator-row-even{background-color:rgb(109,138,216,10%)!important}\n\n  .tabulator-row .tabulator-cell{border-right:1px solid rgb(109,138,216,50%);\n  border-bottom:1px solid rgb(109,138,216,50%);\n  font-size :15px!important}\n  .tabulator .tabulator-header .tabulator-col{border-right:0px solid #aaa}\n    .tabulator-row.tabulator-selectable:hover{background-color:rgb(109,138,216,30%)!important};\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":572.0000076293945,"y":219.00000381469727,"wires":[[]]},{"id":"c35a131c.c7a1","type":"ui_template","z":"9f9484b2.fa831","group":"23e9960b.711bea","name":"Nga","order":1,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {\n  /*background: radial-gradient(circle, #fdfcfb 0%, #c3cfe2 100%);*/\n  background: radial-gradient(circle, #fdfcfb 0%, #c3cfe2 100%);\n    color: white;\n    text-align:center;\n    font-size:20px;\n    font-weight:bold;\n}\n\n.nr-dashboard-theme ui-card-panel {\n   background: linear-gradient(135deg, rgb(182,132,245) 0%,rgb(86,183,233)50%, rgba(255,255,255,0.05) 100%);\n    border: none;\n    border-radius: 10em;\n    box-shadow: 0 0 1em 0em rgb(0 0 100 / 50%)\n}\n</style>\n<table style=\"background-color:#33333300; color: #625757\">\n<tr style = \"font-size=5;color: #E5707E\">\n</tr>\n\n<tr>\n<td><i class=\"fa fa-user-circle-o\"></i> Nguyễn Kim Thị Tố Nga</td>\n<td><i class=\"fa fa-address-card\"></i> 19127219</td>\n<td><i class=\"fa fa-envelope\"></i> nkttnga@gmail.com</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":214,"y":144.00000286102295,"wires":[[]]},{"id":"e6330e3a.39b98","type":"comment","z":"9f9484b2.fa831","name":"About us style","info":"","x":230,"y":94,"wires":[]},{"id":"ad9844db.47fb48","type":"ui_template","z":"9f9484b2.fa831","group":"9638a658.2648b8","name":"Đức","order":1,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {\n  /*background: radial-gradient(circle, #fdfcfb 0%, #c3cfe2 100%);*/\n  background: radial-gradient(circle, #fdfcfb 0%, #c3cfe2 100%);\n    color: black;\n    text-align:center;\n}\n.nr-dashboard-theme ui-card-panel {\n    background: linear-gradient(135deg, rgb(182,132,245) 0%,rgb(86,183,233)50%, rgba(255,255,255,0.05) 100%);\n    border: none;\n    border-radius: 10em;\n    box-shadow: 0 0 1em 0em rgb(0 0 100 / 50%)\n}\n</style>\n<table style=\"background-color:#33333300; color: #625757\">\n<tr style = \"font-size=5;color: #E5707E\">\n</tr>\n<tr>\n<td><i class=\"fa fa-user-circle-o\"></i> Hồ Ngọc Minh Đức</td>\n<td><i class=\"fa fa-address-card\"></i> 19127368</td>\n<td><i class=\"fa fa-envelope\"></i> hnmduc@gmail.com</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":204,"y":192,"wires":[[]]},{"id":"78a888a7.9b1fe8","type":"ui_template","z":"9f9484b2.fa831","group":"7af5a1d0.cb096","name":"Vy","order":1,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {\n  /*background: radial-gradient(circle, #fdfcfb 0%, #c3cfe2 100%);*/\n  background: radial-gradient(circle, #fdfcfb 0%, #c3cfe2 100%);\n    color: black;\n    text-align:center;\n}\n.nr-dashboard-theme ui-card-panel {\n    background: linear-gradient(135deg, rgb(182,132,245) 0%,rgb(86,183,233)30%, rgba(255,255,255,0.05) 100%);\n    border: none;\n    border-radius: 10em;\n    box-shadow: 0 0 1em 0em rgb(0 0 100 / 50%)\n}\n</style>\n<table style=\"background-color:#33333300; color: #625757\">\n<tr style = \"font-size=5;color: #E5707E\">\n</tr>\n\n<tr>\n<td><i class=\"fa fa-user-circle-o\"></i> Nguyễn Phương Vy</td>\n<td><i class=\"fa fa-address-card\"></i> 19127088</td>\n<td><i class=\"fa fa-envelope\"></i> ngphvy@gmail.com</td>\n</tr>\n\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":214,"y":252,"wires":[[]]},{"id":"adf1b064.83b9c","type":"http request","z":"496944c1.3e5e8c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/update?api_key={{{writeKey}}}&field1={{{payload.num_customers}}}","tls":"","persist":false,"proxy":"","authType":"","x":1441.6168212890625,"y":1509,"wires":[["4251e358.81d2b4"]]},{"id":"4251e358.81d2b4","type":"http request","z":"496944c1.3e5e8c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/{{{id}}}/fields/1.json?api_key={{{readKey}}}&results=10","tls":"","persist":false,"proxy":"","authType":"","x":1489.0003051757812,"y":1459.0000610351562,"wires":[["db23f4ed.d94c4"]]},{"id":"db23f4ed.d94c4","type":"function","z":"496944c1.3e5e8c","name":"Format Data Line Chart","func":"data = [];\nfor (let point of msg.payload.feeds){\n    time = Date.parse(point.created_at.replace('T',' '));\n    // time = point.created_at\n    // time = time.substring(time.indexOf('T')+1, time.length-5);\n    data.push({'x': time, 'y': parseFloat(point.field1)});\n}\n//msg.template.data[0].values = data;\n//msg.payload = msg.template;\nmsg.payload =  [\n    {\"series\": [\"temp\"],\n    \"data\": [data],\n    \"labels\": [\"temp\"]\n    }];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1552.9505004882812,"y":1407.6167602539062,"wires":[["3106f6d8.1ed97a"]]},{"id":"7cd98db5.cbbe0c","type":"function","z":"496944c1.3e5e8c","name":"Get ThingSpeak Key","func":"msg.writeKey = msg.payload.thingspeak.writeKey;\nmsg.readKey =  msg.payload.thingspeak.readKey;\nmsg.id =  msg.payload.thingspeak.id;\nmsg.payload = {\"num_customers\" : msg.payload.num_customers};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1176.9501953125,"y":1383.0166625976562,"wires":[["adf1b064.83b9c"]]},{"id":"3106f6d8.1ed97a","type":"ui_chart","z":"496944c1.3e5e8c","name":"","group":"b73ad33e.2555f","order":1,"width":16,"height":4,"label":"Number Customers","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1816.000244140625,"y":1407,"wires":[[]]},{"id":"16f22bb8.926074","type":"ui_form","z":"496944c1.3e5e8c","name":"","label":"Register Form","group":"49193564.027dd4","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"username","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","email":"","password":""},"payload":"","submit":"Register","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","x":89.94998168945312,"y":2132.3165283203125,"wires":[["69140e69.6a7bb"]]},{"id":"edb71f19.3cda88","type":"ui_button","z":"496944c1.3e5e8c","name":"","group":"951c29df.5b0a08","order":4,"width":3,"height":1,"passthru":false,"label":"Register","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":746.949951171875,"y":3078.983642578125,"wires":[["fac1236f.b181c8"]]},{"id":"fac1236f.b181c8","type":"template","z":"496944c1.3e5e8c","name":"Switch to Tab Register","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"tab\": \"Registration\"}","output":"json","x":774.1832885742188,"y":3126.616943359375,"wires":[["b4148a5a.624d"]]},{"id":"b4148a5a.624d","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"all","x":767.183349609375,"y":3171.616943359375,"wires":[[]]},{"id":"75ae0ff6.ba5d98","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"","childpath":"/admins","propertyType":"str","method":"get","newchildpath":"","x":290.1833801269531,"y":2173.9166259765625,"wires":[["71a7c923.ad6c5"]]},{"id":"71a7c923.ad6c5","type":"function","z":"496944c1.3e5e8c","name":"Check username","func":"admins = msg.payload;\nmsg.status = \"\";\nmsg.result = false;\nif (msg.username in admins){\n    msg.status = \"Username Exists\";\n    return msg;\n}\nmsg.result = true;\nmsg.status = \"Confirm Your Email To Finish\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":325.9499816894531,"y":2217.6165771484375,"wires":[["be98867d.c44588","7ee7a3b9.366f6c"]]},{"id":"69140e69.6a7bb","type":"function","z":"496944c1.3e5e8c","name":"Set registerInfo","func":"msg.username = msg.payload.username;\nmsg.password = msg.payload.password;\nmsg.email = msg.payload.email;\nflow.set(\"registerInfo\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":279.9499816894531,"y":2128.6165771484375,"wires":[["75ae0ff6.ba5d98"]]},{"id":"be98867d.c44588","type":"switch","z":"496944c1.3e5e8c","name":"","property":"result","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":320.9499816894531,"y":2265.3831787109375,"wires":[["5595446a.dffc84","8edd3444.4e761","d133c7ae.d89158"]]},{"id":"63b18c9.52f47f4","type":"ui_toast","z":"496944c1.3e5e8c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":574.183349609375,"y":2176.6165771484375,"wires":[[]]},{"id":"7ee7a3b9.366f6c","type":"change","z":"496944c1.3e5e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":545.183349609375,"y":2216.6165771484375,"wires":[["63b18c9.52f47f4"]]},{"id":"8fb22715.1748f","type":"ui_form","z":"496944c1.3e5e8c","name":"","label":"Enter Code","group":"7992642c.e11cbc","order":3,"width":4,"height":1,"options":[{"label":"Code","value":"code","type":"number","required":true,"rows":null}],"formValue":{"code":""},"payload":"","submit":"Submit","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","x":1026.949951171875,"y":2204.216796875,"wires":[["7d3fde0f.543608","17b61041.3b20b8"]]},{"id":"8edd3444.4e761","type":"ui_text","z":"496944c1.3e5e8c","group":"7992642c.e11cbc","order":1,"width":10,"height":2,"name":"","label":"A code has just been sent to your email","format":"{{msg.email}}","layout":"col-center","x":616.949951171875,"y":2256.8829345703125,"wires":[]},{"id":"5595446a.dffc84","type":"template","z":"496944c1.3e5e8c","name":"Switch to Tab Confirm Email","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"tab\": \"Confirm Email\"}","output":"json","x":575.183349609375,"y":2298.8165283203125,"wires":[["10d32c41.5b2ddc"]]},{"id":"10d32c41.5b2ddc","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"all","x":782.183349609375,"y":2297.8165283203125,"wires":[[]]},{"id":"7d3fde0f.543608","type":"debug","z":"496944c1.3e5e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1147.9500732421875,"y":2199.35009765625,"wires":[],"l":false},{"id":"3c4112ae.13718e","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"change","x":179.00003051757812,"y":3151.81689453125,"wires":[[]]},{"id":"8afd137a.4200d","type":"function","z":"496944c1.3e5e8c","name":"Return home","func":"msg.payload = {\"tab\":\"Registration\"};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":3114.81689453125,"wires":[["3c4112ae.13718e"]]},{"id":"e0d3c607.edefe8","type":"ui_button","z":"496944c1.3e5e8c","name":"Close Tab Confirm Email","group":"9050372d.f1617","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":"true","payloadType":"str","topic":"topic","topicType":"msg","x":147,"y":3073.81689453125,"wires":[["8afd137a.4200d"]]},{"id":"b48cbaa8.82ec48","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"change","x":497,"y":3155.716796875,"wires":[[]]},{"id":"3a08a5da.b4bc9a","type":"function","z":"496944c1.3e5e8c","name":"Return home","func":"msg.payload = {\"tab\":\"Login\"};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":481.9999694824219,"y":3119.716796875,"wires":[["b48cbaa8.82ec48"]]},{"id":"4ef02b38.9a7934","type":"ui_button","z":"496944c1.3e5e8c","name":"Close Tab Registration","group":"af8c2f86.0982a","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":"true","payloadType":"str","topic":"topic","topicType":"msg","x":460,"y":3080.716796875,"wires":[["3a08a5da.b4bc9a"]]},{"id":"ed828b.e4635d78","type":"inject","z":"496944c1.3e5e8c","name":"","props":[{"p":"payload.str","v":"Welcome 👋!","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":338.9499816894531,"y":157,"wires":[["dd702e26.d9dbe"]],"l":false},{"id":"f021918a.1e8488","type":"e-mail","z":"496944c1.3e5e8c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"send email","x":562,"y":2581.2164306640625,"wires":[]},{"id":"d133c7ae.d89158","type":"function","z":"496944c1.3e5e8c","name":"Random Code","func":"msg.code =  Math.floor(100000 + Math.random() * 900000);\nmsg.to = \"\";\nflow.set(\"code\", msg.code);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":342.0000305175781,"y":2400.2164306640625,"wires":[["a4769117.6a10a","1dedc061.e296c"]]},{"id":"b6a21363.fed41","type":"template","z":"496944c1.3e5e8c","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <meta content=\"text/html; charset=utf-8\" http-equiv=\"Content-Type\" />\n    <title>Store Management Confirm Email</title>\n    <style type=\"text/css\">\n        a:hover {text-decoration: underline !important;}\n    </style>\n</head>\n\n<body marginheight=\"0\" topmargin=\"0\" marginwidth=\"0\" style=\"margin: 0px; background-color: #f2f3f8;\" leftmargin=\"0\">\n    <!--100% body table-->\n    <table cellspacing=\"0\" border=\"0\" cellpadding=\"0\" width=\"100%\" bgcolor=\"#f2f3f8\"\n        style=\"@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;\">\n        <tr>\n            <td>\n                <table style=\"background-color: #f2f3f8; max-width:670px;  margin:0 auto;\" width=\"100%\" border=\"0\"\n                    align=\"center\" cellpadding=\"0\" cellspacing=\"0\">\n                    <tr>\n                        <td style=\"height:80px;\">&nbsp;</td>\n                    </tr>\n                    \n                    <tr>\n                        <td style=\"height:20px;\">&nbsp;</td>\n                    </tr>\n                    <tr>\n                        <td>\n                            <table width=\"95%\" border=\"0\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\"\n                                style=\"max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);\">\n                                <tr>\n                                    <td style=\"height:40px;\">&nbsp;</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding:0 35px;\">\n                                        <h1 style=\"color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;\">Your Registration Code 😎</h1>\n                                        <span\n                                            style=\"display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;\"></span>\n                                        <p style=\"color:#455056; font-size:15px;line-height:24px; margin:0;\">\n                                            Use this CODE to finish your registration! 😊\n                                        </p>\n                                        <a href=\"javascript:void(0);\"\n                                            style=\"background:#20e277;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff;text-transform:uppercase; font-size:69px;padding:10px 24px;display:inline-block;border-radius:50px;\">{{code}}</a>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td style=\"height:40px;\">&nbsp;</td>\n                                </tr>\n                            </table>\n                        </td>\n                    <tr>\n                        <td style=\"height:20px;\">&nbsp;</td>\n                    </tr>\n                    <tr>\n                        <td style=\"text-align:center;\">\n                            <p style=\"font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;\">&copy; <strong>19clc9-nhom10.mybluemix.net/ui</strong></p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"height:80px;\">&nbsp;</td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    <!--/100% body table-->\n</body>\n\n</html>","x":403.0000305175781,"y":2489.2164306640625,"wires":[["9953d63b.3ddff8"]]},{"id":"a4769117.6a10a","type":"template","z":"496944c1.3e5e8c","name":"css","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"\n.logo {\nwith:30%;\nheight:30%;\n}\n.votrev{\n    font-size: 40px;\n    font-family: sans-serif;\n    color: #1E9F0D;\n}\n\n/* Hover cell effect! */","x":367.0000305175781,"y":2446.2164306640625,"wires":[["b6a21363.fed41"]]},{"id":"9953d63b.3ddff8","type":"function","z":"496944c1.3e5e8c","name":"Format Email","func":"\nmsg={\n    payload:msg.payload,\n    topic:\"Store Managemet Registration\",\n    to: msg.email\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":465.0000305175781,"y":2538.2164306640625,"wires":[["f021918a.1e8488"]]},{"id":"17b61041.3b20b8","type":"switch","z":"496944c1.3e5e8c","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"code","vt":"flow"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1153.949951171875,"y":2246.783447265625,"wires":[["6dcd024e.8d730c"],["716701eb.21544"]]},{"id":"716701eb.21544","type":"change","z":"496944c1.3e5e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Invalid Code","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1206.9500732421875,"y":2301.550048828125,"wires":[["381de6eb.fc86ca"]]},{"id":"bb32e11f.a26a38","type":"change","z":"496944c1.3e5e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Register Success","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1404.949951171875,"y":2243.550048828125,"wires":[["381de6eb.fc86ca"]]},{"id":"381de6eb.fc86ca","type":"ui_toast","z":"496944c1.3e5e8c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1427.1165771484375,"y":2304.0166015625,"wires":[[]]},{"id":"e498d2bb.adbac","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"","childpath":"admins","propertyType":"str","method":"update","newchildpath":"","x":1355.11669921875,"y":2194.916748046875,"wires":[["bb32e11f.a26a38","ff63ec0a.e7df2"]]},{"id":"6dcd024e.8d730c","type":"function","z":"496944c1.3e5e8c","name":"Format Data","func":"data = flow.get(\"registerInfo\");\nmsg.payload = {[data.username]: {\n                    \"email\": data.email,\n                    \"password\": data.password\n}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1344.9500732421875,"y":2148.0166015625,"wires":[["241a368b.4884e2","e498d2bb.adbac"]]},{"id":"241a368b.4884e2","type":"debug","z":"496944c1.3e5e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1459.9500732421875,"y":2141.7666015625,"wires":[],"l":false},{"id":"1dedc061.e296c","type":"debug","z":"496944c1.3e5e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"code","targetType":"msg","statusVal":"","statusType":"auto","x":485.949951171875,"y":2401.7664794921875,"wires":[],"l":false},{"id":"ff63ec0a.e7df2","type":"template","z":"496944c1.3e5e8c","name":"Switch to Tab Login","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"tab\": \"Login\"}","output":"json","x":1603.5166015625,"y":2195.916748046875,"wires":[["3d908780.003238"]]},{"id":"3d908780.003238","type":"ui_ui_control","z":"496944c1.3e5e8c","name":"","events":"all","x":1636.5166015625,"y":2154.916748046875,"wires":[[]]},{"id":"cc0a9d0a.22d1d","type":"switch","z":"496944c1.3e5e8c","name":"","property":"overPeople","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":952.9501953125,"y":1707.7833862304688,"wires":[["bbd89d7c.df1838"]]},{"id":"d90b3d1d.be1838","type":"e-mail","z":"496944c1.3e5e8c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"send email","x":1245.93359375,"y":1934.8165893554688,"wires":[]},{"id":"615aae1a.c0f9f8","type":"function","z":"496944c1.3e5e8c","name":"Format Email","func":"\nmsg={\n    payload: msg.content,\n    topic: \"Store Managemet Alert\",\n    to: msg.emails\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1175.93359375,"y":1891.8165893554688,"wires":[["d90b3d1d.be1838","1b35cc8f.63f523"]]},{"id":"10795de0.fee122","type":"addFirebase","z":"496944c1.3e5e8c","firebaseCertificate":"8520801b.9b3f38","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"get","newchildpath":"","x":1058.31689453125,"y":1800.9165649414062,"wires":[["70f662e2.ac2774","d786fef9.3ba74"]]},{"id":"70f662e2.ac2774","type":"function","z":"496944c1.3e5e8c","name":"","func":"emails = [];\naccounts = msg.payload.admins;\nfor (let account in accounts){\n    emails.push(accounts[account].email);\n}\nmsg.emails = emails;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1102.9501953125,"y":1846.6167602539062,"wires":[["615aae1a.c0f9f8"]]},{"id":"d786fef9.3ba74","type":"debug","z":"496944c1.3e5e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210.31689453125,"y":1795.9166870117188,"wires":[],"l":false},{"id":"1b35cc8f.63f523","type":"debug","z":"496944c1.3e5e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1305.31689453125,"y":1895.9165649414062,"wires":[],"l":false},{"id":"dafaf6eb.e16a6","type":"function","z":"496944c1.3e5e8c","name":"Get Gauge Data","func":"msg.payload = {maxPeople: msg.maxPeople,\n            num_customers: msg.num_customers};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":892.5,"y":1579,"wires":[["d7a74582.6e4f78"]]},{"id":"12b6d91d.4c53bf","type":"switch","z":"496944c1.3e5e8c","name":"","property":"overTemp","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":833.61669921875,"y":1779.6167602539062,"wires":[["7a4a9c3.f15cb64"]]},{"id":"7a4a9c3.f15cb64","type":"template","z":"496944c1.3e5e8c","name":"","field":"content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"⚠️ {{storeId}} High Temperature: {{temp}}","output":"str","x":858.949951171875,"y":1831.0835571289062,"wires":[["10795de0.fee122"]]},{"id":"bbd89d7c.df1838","type":"template","z":"496944c1.3e5e8c","name":"","field":"content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"⚠️ {{storeId}} Over Peolple: {{num_customers}} of {{maxPeople}}","output":"str","x":1085.716651916504,"y":1746.6165390014648,"wires":[["10795de0.fee122"]]},{"id":"1d834742.fcca91","type":"change","z":"496944c1.3e5e8c","name":"","rules":[{"t":"set","p":"payload.str","pt":"msg","to":"Welcome 👋!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270.61663818359375,"y":365.1499938964844,"wires":[["dd702e26.d9dbe"]],"l":false},{"id":"6f4099e2.d8d958","type":"comment","z":"496944c1.3e5e8c","name":"Tab Login","info":"","x":79.61666870117188,"y":40.100006103515625,"wires":[]},{"id":"5a54aeb2.9c97","type":"comment","z":"496944c1.3e5e8c","name":"Tab Logout","info":"","x":85.85000610351562,"y":286.8500061035156,"wires":[]},{"id":"d6b018f2.3be958","type":"comment","z":"496944c1.3e5e8c","name":"Send Code To email","info":"","x":347.6166687011719,"y":2355.0999755859375,"wires":[]},{"id":"38389a73.ae5e36","type":"comment","z":"496944c1.3e5e8c","name":"Tab Home","info":"","x":138.85000610351562,"y":518.8499755859375,"wires":[]},{"id":"da53e277.67f2e8","type":"comment","z":"496944c1.3e5e8c","name":"Tab Realtime","info":"","x":1822.4000244140625,"y":20,"wires":[]},{"id":"75d07471.4b3cd4","type":"comment","z":"496944c1.3e5e8c","name":"Tab Register","info":"","x":87.61666870117188,"y":2059.0999755859375,"wires":[]},{"id":"68149f1b.145d2","type":"comment","z":"496944c1.3e5e8c","name":"Tab Home","info":"","x":65,"y":820.0499877929688,"wires":[]},{"id":"b7b7c29d.84796","type":"comment","z":"496944c1.3e5e8c","name":"Tab Setting","info":"","x":1007.2999877929688,"y":38.849998474121094,"wires":[]},{"id":"54b42244.7e8a6c","type":"comment","z":"496944c1.3e5e8c","name":"Tab Setting","info":"","x":1257.300048828125,"y":612.8499755859375,"wires":[]},{"id":"7ede6811.d41c5","type":"comment","z":"496944c1.3e5e8c","name":"Tab Setting","info":"","x":1900.5,"y":321.8500061035156,"wires":[]},{"id":"be0f87b.bc83678","type":"comment","z":"496944c1.3e5e8c","name":"Tab Setting","info":"","x":1268.75,"y":901.8499755859375,"wires":[]},{"id":"fd7e47ec.82c2b","type":"comment","z":"496944c1.3e5e8c","name":"Tab Setting ThingSpeak Chart","info":"","x":1192.75,"y":1333.0502319335938,"wires":[]},{"id":"1be2490b.0132c7","type":"comment","z":"496944c1.3e5e8c","name":"Tab Setting","info":"","x":1317.75,"y":1051.8499755859375,"wires":[]},{"id":"6d34af2e.a9c508","type":"comment","z":"496944c1.3e5e8c","name":"MQTT Listening","info":"","x":539.8499755859375,"y":1839.2499389648438,"wires":[]},{"id":"434bb91f.b41f98","type":"mqtt in","z":"c2380373.8b0d7","name":"Store 1","topic":"19clc9/nhom10/store1","qos":"2","datatype":"auto","broker":"1ab99527.a118ab","nl":false,"rap":true,"rh":0,"x":150,"y":140,"wires":[["99c2f0a6.a29108","3cbdcb03.8b3b74"]]},{"id":"3cbdcb03.8b3b74","type":"debug","z":"c2380373.8b0d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":220,"wires":[]},{"id":"6b13ff8c.564b4","type":"mqtt out","z":"c2380373.8b0d7","name":"Store 1","topic":"19clc9/nhom10/store3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ab99527.a118ab","x":900,"y":140,"wires":[]},{"id":"ab04144f.1b72a8","type":"inject","z":"c2380373.8b0d7","name":"Có người đi vào","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"storeId\":\"store1\",\"deviceId\":\"device1\",\"temp\":36,\"maxTemp\":37,\"type\":\"entrance\"}","payloadType":"json","x":700,"y":140,"wires":[["6b13ff8c.564b4"]]},{"id":"53a2d248.3a2fd4","type":"comment","z":"c2380373.8b0d7","name":"Nhận số lượng người hiện tại từ cloud","info":"","x":250,"y":100,"wires":[]},{"id":"d2a854cb.c56ad","type":"comment","z":"c2380373.8b0d7","name":"Gửi dữ liệu lên server ","info":"","x":700,"y":100,"wires":[]},{"id":"99c2f0a6.a29108","type":"function","z":"c2380373.8b0d7","name":"Update Device Screen","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":140,"wires":[[]]},{"id":"e9dcec8b.1f73f","type":"inject","z":"d99f0b5b.eee2c","name":"Có người đi ra","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"storeId\":\"store1\",\"deviceId\":\"device1\",\"type\":\"exit\"}","payloadType":"json","x":190,"y":140,"wires":[["b52156c8.f5cec8"]]},{"id":"b52156c8.f5cec8","type":"mqtt out","z":"d99f0b5b.eee2c","name":"Store 1","topic":"19clc9/nhom10/store1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ab99527.a118ab","x":389.9999694824219,"y":143,"wires":[]},{"id":"92fd3c85.8a3bd8","type":"comment","z":"d99f0b5b.eee2c","name":"Gửi dữ liệu lên server ","info":"","x":220,"y":80,"wires":[]}]