W08/19127368.json
[{"id":"1e1deb94.671864","type":"tab","label":"BTCN08 - 19127368 - Hồ Ngọc Minh Đức","disabled":false,"info":""},{"id":"a59a3ac9.42d4c8","type":"ui_text","z":"1e1deb94.671864","group":"74c11b9.848f264","order":0,"width":0,"height":0,"name":"","label":"HỒ NGỌC MINH ĐỨC","format":"{{msg.payload}}","layout":"col-center","x":240,"y":160,"wires":[]},{"id":"684f4333.665624","type":"ui_text","z":"1e1deb94.671864","group":"74c11b9.848f264","order":0,"width":0,"height":0,"name":"","label":"19127368","format":"{{msg.payload}}","layout":"col-center","x":250,"y":200,"wires":[]},{"id":"a7fba25f.8677c8","type":"ui_text","z":"1e1deb94.671864","group":"74c11b9.848f264","order":0,"width":0,"height":0,"name":"","label":"BTCN08 - IOT","format":"{{msg.payload}}","layout":"col-center","x":240,"y":240,"wires":[]},{"id":"27863020.846378","type":"ui_chart","z":"1e1deb94.671864","name":"","group":"d32a1e13.b95208","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":930,"y":280,"wires":[[]]},{"id":"b8ac71b.d4e111","type":"ui_slider","z":"1e1deb94.671864","name":"","label":"Temperature","tooltip":"","group":"c3847640.22a3f","order":1,"width":9,"height":1,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":130,"y":760,"wires":[["36f46184.034746","b2d4689c.e74d4"]]},{"id":"4e6433e7.e3131c","type":"comment","z":"1e1deb94.671864","name":"Tab My Profile","info":"","x":210,"y":120,"wires":[]},{"id":"5dbe168e.499be8","type":"ui_button","z":"1e1deb94.671864","name":"","group":"c3847640.22a3f","order":3,"width":0,"height":0,"passthru":false,"label":"INSERT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":760,"wires":[["cc873fba.04fb2"]]},{"id":"7ab185fb.da3754","type":"ui_button","z":"1e1deb94.671864","name":"","group":"d32a1e13.b95208","order":2,"width":0,"height":0,"passthru":false,"label":"REFRESH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":500,"wires":[["7fe158f.d577528","263dab4b.aac184"]]},{"id":"36f46184.034746","type":"ui_text","z":"1e1deb94.671864","group":"c3847640.22a3f","order":2,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":760,"wires":[]},{"id":"31c7708c.ad38b8","type":"http request","z":"1e1deb94.671864","name":"Insert data","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/update?api_key=NQ9FJ2HAGF2QW5FB&field1={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":680,"wires":[["7fe158f.d577528"]]},{"id":"7fe158f.d577528","type":"http request","z":"1e1deb94.671864","name":"Get data 20 last points","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1456292/fields/1.json?api_key=BHVCE9XADLOH4EDV&results=20","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":500,"wires":[["7f90005e.710f1"]]},{"id":"81363c35.74b708","type":"debug","z":"1e1deb94.671864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":480,"wires":[]},{"id":"f571db1c.f958","type":"inject","z":"1e1deb94.671864","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":580,"wires":[["7fe158f.d577528"]]},{"id":"7f90005e.710f1","type":"function","z":"1e1deb94.671864","name":"Format Data","func":"data = [];\nfor (let point of msg.payload.feeds){\n    time = Date.parse(point.created_at.replace('T',' '));\n    data.push({'x': time, 'y': parseFloat(point.field1)});\n}\nmsg.payload =  [\n    {\"series\": [\"temp\"],\n    \"data\": [data],\n    \"labels\": [\"temp\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":420,"wires":[["81363c35.74b708","27863020.846378"]]},{"id":"b2d4689c.e74d4","type":"function","z":"1e1deb94.671864","name":"Set temp","func":"flow.set(\"temp\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":660,"wires":[[]]},{"id":"cc873fba.04fb2","type":"function","z":"1e1deb94.671864","name":"","func":"msg.payload = flow.get(\"temp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":760,"wires":[["31c7708c.ad38b8","2802eae2.10ca76","1d399cf9.53e83b"]]},{"id":"2802eae2.10ca76","type":"ui_toast","z":"1e1deb94.671864","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Insert Success","name":"","x":1050,"y":760,"wires":[]},{"id":"56161b1a.2e9254","type":"ui_toast","z":"1e1deb94.671864","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":650,"y":260,"wires":[]},{"id":"263dab4b.aac184","type":"change","z":"1e1deb94.671864","name":"Refresh Success","rules":[{"t":"set","p":"payload","pt":"msg","to":"Refresh Success","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[["56161b1a.2e9254"]]},{"id":"1d399cf9.53e83b","type":"debug","z":"1e1deb94.671864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":820,"wires":[]},{"id":"74c11b9.848f264","type":"ui_group","name":"My Profile","tab":"cdc5aa3.de488d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d32a1e13.b95208","type":"ui_group","name":"Chart","tab":"ba1d0ea1.89ced","order":1,"disp":true,"width":"10","collapse":false},{"id":"c3847640.22a3f","type":"ui_group","name":"Data","tab":"ba1d0ea1.89ced","order":2,"disp":true,"width":"10","collapse":false},{"id":"cdc5aa3.de488d8","type":"ui_tab","name":"My Profile","icon":"assignment_ind","order":1,"disabled":false,"hidden":false},{"id":"ba1d0ea1.89ced","type":"ui_tab","name":"Visualization","icon":"show_chart","order":2,"disabled":false,"hidden":false}]